:root {
    --title-color: #2E2F42;
    --paragraph-color: #434455;
    --btn-: pointer;
    --btn-color: #4d5ae5;
    --hover-color: #404bbf;
    --background-title-color: #F4F4F;
    --background-color: #FFFFFF;
    --text-color: #f4f4fd;

}

body {
    font-family: 'Roboto',  sans-serif;
    color: var(--paragraph-color);
    background-color: var(--background-color);
}

.link {
    text-decoration: none;
}
 
.list {
    list-style: none;
}

       /*------logo-------*/
.header-logo {
    font-family: 'Raleway', sans-serif;
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--btn-color);
}


.header-logo-color {
color: var(--title-color);
}
     
/*-----------------navigation------------*/
.header-link:hover {
    color: var(--hover-color);
}

.header-link:focus {
    color: var(--hover-color);
}

.nav-list {
}

.header-link {
    font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--title-color);
}

.header-adress {
    font-style: normal
}

.adress-list {

}

.adress-item {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--paragraph-color);
}

.adress-item:hover {
    color: var(--hover-color);
}

.adress-item:focus {
    color: var(--hover-color);
}


/*--------------------------HERO----------------------*/
.hero {
    background: var(--title-color);
}

.hero-title {
    font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
text-align: center;
color: var(--background-color);
}

.hero-btn {
    font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: var(--background-color);
background-color: var(--btn-color);
cursor: pointer;
}

.hero-btn:hover {
    background-color: var(--hover-color);
}

.hero-btn:focus {
    background-color: var(--hover-color) ;
}

/*--------------------About---------------------------*/
.about {
}

.about-list {
}

.about-item {
    
}

.about-title {
    font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--title-color);
}

.about-paragraph {
    font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--paragraph-color);
}
/*--------------------Info---------------------------*/
.info {
}

.info-title {
    font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: var(--title-color);
}

.info-list {
}

.info-item {

}
/*--------------------Team---------------------------*/
.team {
   background-color: var(--text-color);
}

.team-title {
    font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: var(--title-color);
}

.team-list {
    
}

.team-item {
    background-color: var(--background-color);
}

.team-name {
    font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--title-color);
}

.team-profesion {
    font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--paragraph-color);
}

/*--------------------footer---------------------------*/
.footer {
    background: var(--title-color);
}

.footer-logo- {
    font-family: 'Raleway', sans-serif;
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--btn-color);
}

.logo-color {
color: var(--text-color);

}

.footer-text {
    font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--text-color);
}



/*-------Portfolio------------*/

.header-portfolio {
    font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--title-color);
}

.navigation-portfolio {
    list-style: none;
}





/*---------Btns--------*/


.hero-portfolio {
   list-style: none;
}

.btn-list {
}

.btn-item {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--btn-color);
    cursor: pointer;
}

.btn-panel {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--btn-color);
    background-color:var(--text-color);
    cursor: pointer;
}

.btn-panel:hover {
    color: var(--background-color);
    background-color:  var(--hover-color);
}

.btn-panel:focus {
    color: var(--background-color);
    background-color:  var(--hover-color); 
}

/*---------Images--------*/
.hero-image {
}

.image-list {
    list-style: none
}

.panel-list {

}

.link-image {
    text-decoration: none
}

.image-item {
    text-decoration: none
}

.image-title {
    font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--title-color);
}

.imge-paragraph {
    font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--paragraph-color);
}

